h2#profileTitle.text-center LIST PROFILES
.container-fluid#listProfiles
  .row
    .col-xs-6.col-xs-offset-3
      .form-group
        label.center-block.text-center(for='skills'): h4 Find by skills
        select.center-block.form-control(ng-model='searchSkills' name='skills')
          option(ng-repeat='skill in skills') {{skill}}
      .form-group
        label(for='skills') &nbsp;
        button.form-control.btn.btn-info#profileSearch(name='skills', ng-click='sortBy()') Search
        button.form-control.btn.btn-warning#profileSearch(name='requestAuth', ng-click='requestAuth()' ng-if='activeUser.role === 0') To Request Full Access to These Profiles, Click Here!
  .row
    .col-xs-1
      button.btn.btn-info(ng-show='moveBack', ng-click='changePage("prev")', ng-model='prev'): i.fa.fa-chevron-left
    .col-xs-1.col-xs-offset-10
      button.btn.btn-info(ng-show='moveForward', ng-click='changePage("next")', ng-model='next'): i.fa.fa-chevron-right
  .container-fluid
    .row
      .col-xs-12
        .container-fluid
          .col-lg-5.col-sm-10#cardTemplate(ng-repeat='student in students track by $index' ng-click='profileGo(student)')
            .col-xs-12.col-lg-5
              img.photo#icons(base-sixty-four-image='student.photo', ng-click='profileGo($index)')
              h3#listName {{student.firstName}} {{student.lastName}}
              #cogHolder(ng-if='activeUser.role === 10')
                a(ui-sref='profiles.edit({studentId: student._id})')
                  h3.space: i.fa.fa-cog
                a(ng-click='deleteStudent(student._id)')
                  h3.space: i.fa.fa.fa-times-circle-o
            .col-lg-3.col-sm-12#skills
              h4 Skills
              ul
                li: h5(ng-repeat='skill in student.skills') {{skill}}
            .col-sm-12#exposures
              h4 Exposure
              ul
                li: h5(ng-repeat='exposure in student.exposure') {{exposure}}