//#profile-padding
.container-fluid#profile-show
  .row#profileNextBar
    .col-xs-6
      h4(ng-show='isPrev'): a(ng-click='prev()').black.cursor: i.fa.fa-caret-left.black.blueBG &nbsp; PREVIOUS
    .col-xs-6
      h4.right-btn-float.black(ng-show='isNext'): a(ng-click='next()').black.cursor.blueBG NEXT &nbsp;
        span: i.fa.fa-caret-right.black
  .row#profileBody
    .col-md-2.col-sm-11.tallVH.profileTrans
      img#profilePhoto(base-sixty-four-image='student.photo')
      h1#showTitle {{student.firstName}} {{student.lastName}}
      h3 Contact Information
      h4 Location
      h5(ng-class='{"blurText": activeUser.role < 5}') {{student.location}}
      p(ng-show="{{student.relocate}}"): i.fa.fa-check &nbsp; Willing to relocate
      p(ng-show="{{student.remote}}"): i.fa.fa-check &nbsp; Willing to work remotely
      h3: a(href='{{student.contact.website}}') {{student.contact.website}}
      h3: a(href="tel:{{student.contact.phone}}") {{student.contact.phone}}
      div(ng-if='activeUser.role===5 || activeUser.role===10')
        a(mailto="{{contat.contact.email}}")
          h3.showSpace.black: i.fa.fa-envelope
        a(href="{{student.social.linkedin}}")
          h3.showSpace.black: i.fa.fa-linkedin
        a(href="{{student.social.github}}")
          h3.showSpace.black: i.fa.fa-github
        a(href="{{student.social.stackoverflow}}")
          h3.showSpace.black: i.fa.fa-stack-overflow
    .col-md-7.col-sm-11.profileTrans#profileAbout
      h3.underline About Me
      h4(ng-class='{"blurText": activeUser.role < 5}') {{student.bio}}
    .col-md-2.col-sm-11.boxBackDrop.profileTrans
      h3.underline Skills
      h4(ng-repeat="skill in student.skills track by $index") {{skill}}
    .col-md-2.col-sm-11.boxBackDrop.profileTrans
      h3.underline Exposure
      h4(ng-repeat="exposure in student.exposure track by $index") {{exposure}}
    .col-md-2.col-sm-11.boxBackDrop.profileTrans
      h3.underline Interests
      h4(ng-repeat="interest in student.interests track by $index") {{interest}}
    .row
      .col-md-7.col-sm-11.profileTrans#profileEdu
        h3.underline Education
        h4#profileEduText(ng-class='{"blurText": activeUser.role < 5}') {{student.education}}
        button.form-control.btn.btn-warning#profileSearch(name='requestAuth', ng-click='requestAuth()' ng-if='activeUser.role === 0') To Request Full Access to These Profiles, Click Here!
    .col-xs-1
      .controlPanel(ng-if='activeUser.role===10')
        a(ng-click='deleteStudent(student._id)')
          h3.space: i.fa.fa.fa-times-circle-o.red
        a(ui-sref='profiles.edit({studentId: student._id})')
          h3.space: i.fa.fa-cog.black